

.App{
  background-color: aqua;
  height: 200px;
  width: 200px;
  text-align: center;
  
}
.App > div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: blueviolet;
}

.App > div > div{
  margin: 10px;
  padding: 10px;
}